<a href="https://colab.research.google.com/github/justmonis/Introduction-to-Lists/blob/main/Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Earlier when discussing strings we introduced the concept of a <u>sequence</u> in Python.
* <u>Lists</u> can be thought of the most general version of a *sequence* in Python.


* Unlike strings, they are mutable, meaning the elements inside a list can be changed!


* Lists are constructed with brackets <code>[]</code> and commas separating every element in the list.

In [16]:
# Assign a list to an variable named my_list
my_list = [1,2,3,4]

In [17]:
print(my_list)
my_list

[1, 2, 3, 4]

[1, 2, 3, 4]

In [18]:
type(my_list)

list

* We just created a list of integers, but lists can actually hold different object types. For example:

In [20]:
my_list = ['A string',23,100.232,'o',True]

In [22]:
my_list

['A string', 23, 100.232, 'o', True]

In [23]:
my_list.remove('A string')

In [7]:
print(my_list)

[23, 100.232, 'o', True]

* Just like strings, the <code>len()</code> function will tell you how many items are in the sequence of the list.

In [8]:
len(my_list)

4

## List Indexing
* Indexing work just like in strings.


* A list index refers to the location of an element in a list.


* Remember the indexing begins from 0 in Python.


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

In [9]:
# Consider a list of strings
loss_functions = ['Mean Absolute Error','Mean Squared Error','Huber Loss','Log Loss','Hinge Loss']
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [10]:
# Grab the element at index 0, which is the FIRST element
print(loss_functions[0])

Mean Absolute Error

In [24]:
loss_functions[0]

'Mean Absolute Error'

In [11]:
len(loss_functions)

5

In [12]:
# Grab the element at index 3, which is the FOURTH element
print(loss_functions[3])

Log Loss

In [13]:
print(loss_functions[6])

IndexError: ignored

In [25]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [26]:
# Grab the element at the index -1, which is the LAST element
print(loss_functions[-1])

Hinge Loss

In [27]:
# Grab the element at the index -3, which is the THIRD LAST element
print(loss_functions[-3])

Huber Loss

## List Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point.


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>.


* Remember the element located at the right index is not included.

In [28]:
# Print our list
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [29]:
# Grab the elements starting from index 1 and everything past it
loss_functions[1:4]

['Mean Squared Error', 'Huber Loss', 'Log Loss']

* If you do not specify the ending index, then all elements are extracted which comes after the starting index including the element at that starting index. The operation knows only to stop when it has run through the entire list.

In [30]:
# Grab everything starting from index 2
loss_functions[2:]

['Huber Loss', 'Log Loss', 'Hinge Loss']

* If you do not specify the starting index, then all elements are extracted which comes befores the ending index excluding the element at the specified ending index. The operation knows only to stop when it has extracted all elements before the  element at the ending index.

In [31]:
# Grab everything before the index 4
loss_functions[:4]

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss']

* If you do not specify the starting and the ending index, it will extract all elements of the list.

In [32]:
# Grab everything
print(loss_functions[:])

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

* We can also extract the last four elements. Remember we can use the index -4 to extract the FOURTH LAST element

In [33]:
# Grab the LAST FOUR elements of the list
loss_functions[-4:]

['Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [34]:
loss_functions[-10]

IndexError: ignored

* It should also be noted that list indexing will return an error if there is no element at that index.

In [35]:
len(loss_functions)

5

In [36]:
loss_functions[8]

IndexError: ignored

## List Operations
* Remember we said that lists are mutable as opposed to strings. Lets see how can we change the elements of a list

* We can also use <code>+</code> to concatenate lists, just like we did for strings.

In [37]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [38]:
loss_functions + ['Kullback-Leibler']

['Mean Absolute Error',
 'Mean Squared Error',
 'Huber Loss',
 'Log Loss',
 'Hinge Loss',
 'Kullback-Leibler']

* Note: This doesn't actually change the original list!

In [39]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

* You would have to reassign the list to make the change permanent.

In [41]:
# Reassign
loss_functions = loss_functions + ['Kullback-Leibler']

In [42]:
loss_functions

['Mean Absolute Error',
 'Mean Squared Error',
 'Huber Loss',
 'Log Loss',
 'Hinge Loss',
 'Kullback-Leibler',
 'Kullback-Leibler']

* We can also use the <code>*</code> for a duplication method similar to strings:

In [43]:
# Make the list double
len(loss_functions * 6)

42

## List Functions

### <code>len()</code>


* <code>len()</code> function returns the length of the list

In [44]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler', 'Kullback-Leibler']

In [45]:
len(loss_functions)

7

### <code>min()</code>


* <code>min()</code> function returns the minimum element of the list


* <code>min()</code> function only works with lists of similar data types

In [46]:
new_list = [6, 9, 1, 3, 5.5]

In [47]:
min(new_list)

1

In [48]:
my_new_list = ['a','b', 'z' ,'y' , 'm']

In [49]:
min(my_new_list)

'a'

### <code>max()</code>


* <code>max()</code> function returns the maximum element of the list


* <code>max()</code> function only works with lists of similar data types

In [50]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [51]:
max(new_list)

'shape'

### <code>sum()</code>


* <code>sum()</code> function returns the sum of the elements of the list


* <code>sum()</code> function only works with lists of numeric data types

In [54]:
new_list = [6, 9, 1, 3, 5.5]

In [55]:
sum(new_list)

24.5

### <code>sorted()</code>


* <code>sorted()</code> function returns the sorted list


* <code>sorted()</code> function takes reverse boolean as an argument


* <code>sorted()</code> function only works on a list with similar data types

In [56]:
new_list

[6, 9, 1, 3, 5.5]

In [57]:
sorted(new_list)

[1, 3, 5.5, 6, 9]

In [58]:
print(new_list)

[6, 9, 1, 3, 5.5]

In [59]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [60]:
sorted(new_list)

['Argue', 'Burglar', 'Linear', 'Parent', 'shape']

In [61]:
print(new_list)

['Argue', 'Burglar', 'Parent', 'Linear', 'shape']

In [62]:
sorted(new_list,reverse=True)

['shape', 'Parent', 'Linear', 'Burglar', 'Argue']

In [63]:
sorted(new_list)

['Argue', 'Burglar', 'Linear', 'Parent', 'shape']

* <code>sorted()</code> function does not change our list

In [64]:
new_list

['Argue', 'Burglar', 'Parent', 'Linear', 'shape']

## List Methods

* If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).


* Let's go ahead and explore some more special methods for lists:

In [65]:
# Create a new list
my_list = [1,2,3,1,1,1,3,10,5,8]

### <code>append()</code>

* Use the <code>append()</code> method to permanently add an item to the end of a list.


* <code>append()</code> method takes the element which you want to add to the list as an argument

In [66]:
# Print the list
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8]

In [67]:
len(my_list)

10

In [73]:
# Append to the end of the list
my_list.append('Append me!')

* Ah darn it! I was expecting some output. Lets see what happened to <code>my_list</code>

In [74]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Append me!', 'Append me!', 'Append me!']

In [75]:
len(my_list)

14

* Woah! Calling the <code>append()</code> method changed my list? Yes, the <code>append()</code>  method changes your original list!

In [76]:
# Show
my_list.append(2.73)

In [77]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Append me!', 'Append me!', 'Append me!', 2.73]

* We can in fact add a list object to our <code>my_list</code> object

In [78]:
my_list.append([1,2,3])

In [79]:
my_list

[1,
 2,
 3,
 1,
 1,
 1,
 3,
 10,
 5,
 8,
 'Append me!',
 'Append me!',
 'Append me!',
 'Append me!',
 2.73,
 [1, 2, 3]]

In [80]:
len(my_list)

16

In [81]:
my_list.append([10,[19,20],30])

In [82]:
len(my_list)

17

### <code>extend()</code>

* Use the <code> extend()</code> method to merge a list to an existing list


* <code> extend()</code> method takes a list or any iterable(don't worry about it now) as an argument.


* Quite helpful when you have two or more lists and you want to merge them together

In [83]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Append me!', 'Append me!', 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30]]

In [84]:
my_list.extend(['Wubba','Lubba','Dub Dub'])

In [85]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Append me!', 'Append me!', 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba', 'Lubba', 'Dub Dub']

In [86]:
len(my_list)

20

### <code>pop()</code>

* Use <code>pop()</code> to "pop off" an item from the list.


* By default <code>pop()</code> takes off the element at the last index, but you can also specify which index to pop off.


* <code>pop()</code> takes the index as an argument and returns the elenent which was popped off.

In [87]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Append me!', 'Append me!', 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba', 'Lubba', 'Dub Dub']

In [88]:
# Pop off the 0 indexed item
my_list.pop()

'Dub Dub'

* <code>pop()</code> method changes the list by popping off the element at the specified index

In [89]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Append me!', 'Append me!', 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba', 'Lubba']

In [90]:
# Assign the popped element, remember default popped index is -1
my_list.pop(-1)

'Lubba'

In [91]:
len(my_list)

18

In [92]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Append me!', 'Append me!', 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba']

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the list.


* By default <code>remove()</code> removes the specified element from the list.


* <code>remove()</code> takes the element as an argument.

In [93]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Append me!', 'Append me!', 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba']

In [94]:
# Remove the element which you want to
my_list.remove([10, [19, 20], 30])

In [95]:
# Show
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Append me!', 'Append me!', 'Append me!', 2.73, [1, 2, 3], 'Wubba']

In [96]:
my_list.remove([1,2,3])

In [97]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Append me!', 'Append me!', 'Append me!', 2.73, 'Wubba']

In [98]:
len(my_list)

16

In [99]:
my_list.remove(1)

In [100]:
print(my_list)

[2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Append me!', 'Append me!', 'Append me!', 2.73, 'Wubba']

In [101]:
len(my_list)

15

In [103]:
my_list.clear

### <code>count()</code>


* The <code>count()</code> method returns the total occurrence of a specified element in the list

In [107]:
print(my_list)

[2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Append me!', 'Append me!', 'Append me!', 2.73, 'Wubba']

In [108]:
# Count the number of times element 1 occurs in my_list
my_list.count('Wubba')

1

In [109]:
my_list.count(1)

3

### <code>index()</code>


* The <code>index()</code> method returns the index of a specified element.

In [113]:
print(my_list)

[2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'Append me!', 'Append me!', 'Append me!', 2.73, 'Wubba']

In [114]:
my_list.index('Wubba')

14

In [115]:
my_list.index(3)

1

### <code>sort()</code>

* Use <code>sort()</code> to sort the list in either ascending/descending order


* The sorting is done in ascending order by default


* <code>sort()</code> method takes the reverse boolean as an argument


* <code>sort()</code> method only works on a list with elements of same data type

In [116]:
new_list = [6, 9, 1, 3, 5]

In [117]:
# Use sort to sort the list (this is permanent!)
new_list.sort()

In [118]:
print(new_list)

[1, 3, 5, 6, 9]

In [119]:
# Use the reverse boolean to set the ascending or descending order
new_list.sort(reverse=True)
print(new_list)

[9, 6, 5, 3, 1]

In [121]:
boolean_list = [True, False]

In [124]:
boolean_list.sort(reverse=True)

In [126]:
print(boolean_list)

[True, False]

### <code>reverse()</code>

* <code>reverse()</code> method reverses the list

In [131]:
my_list = [1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'Lubba', 'Dub Dub']

In [128]:
print(my_list)

[1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'Lubba', 'Dub Dub']

In [129]:
my_list.reverse()

In [130]:
print(my_list)

['Dub Dub', 'Lubba', 10, 8, 5, 3, 3, 2, 1.43, 1, 1, 1, 1]

## Nested Lists

* A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

In [132]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=['b','a','d']
lst_3=[7,8,9]

# Make a list of lists to form a matrix
list_of_lists = [lst_1,lst_2,lst_3]

In [133]:
print(list_of_lists)

[[1, 2, 3], ['b', 'a', 'd'], [7, 8, 9]]

In [134]:
# Show
type(list_of_lists)

list

In [135]:
# Grab first item in matrix object
list_of_lists[1]

['b', 'a', 'd']

In [136]:
# Grab first item of the first item in the matrix object
list_of_lists[1]

['b', 'a', 'd']

In [137]:
list_of_lists[1][1][][][]

SyntaxError: ignored